* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .register {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  .register div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .register p {
    font-size: 12px;
    color: red;
  }
  
  .register-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .register-wrapper form {
    padding: 30px 80px;
    gap: 0.4rem;
  }
  
  .login {
    display: flex;
    flex-direction: column;
    width: 400px;
  }
  
  .header {
    padding: 1rem;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    background-color: black;
    gap: 1rem;
    align-items: center;
  }
  
  .header h2 {
    color: white;
    font-weight: 500;
    font-size: 16px;
  }
  
  .header button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: black;
    border: none;
    cursor: pointer;
  }