@import "../Variables/variables.scss";

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba($primary, 0.85);
  padding: 1rem 2rem;
}

.navBar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
      width: 75px;
  }
}

.navBar-links {
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    list-style: none;
    li {
        margin: 0 0.5rem;
        cursor: pointer;
        a {
            color: $secondary;
        }
        a:hover {
            color: $highlight;
        }
    }
}

